@import "./utils/variables";
@import "./components/header";
@import "./components/hero";
@import "./components/modalka";
@import "./components/formsmodalka";
@import "./components/advantages";
@import "./components/works";
@import "./components/team";
@import "./components/teamsvg";
@import "./components/client";
@import "./components/footernav";
@import "./components/footersvg";
