.client-container {
  display: flex;
}

.client-container__link {
  align-items: center;
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  border: 1px solid #afb1b8;
  justify-content: center;
  border-radius: 5%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover .client-container__icons,
  &:focus .client-container__icons {
    fill: $accent-color;
  }
}

.client-container__item:not(:last-child) {
  margin-right: 30px;
}

.client-container__icons {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
