.forms__item {
  display: flex;
  flex-direction: column;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;

  & .input {
    height: 40px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    padding-left: 40px;
  }
}
.forms__element {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.forms__coments {
  resize: none;
  border-radius: 4px;
  border-color: #21212132;
  margin-top: 4px;
  padding: 12px 16px;
  color: $second-color-black;
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: $accent-color;
  }
}

.forms__line {
  width: 100%;
  outline: none;
  border-radius: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-color;
  }

  &:focus + .forms__svg {
    fill: $accent-color;
  }
}

.forms__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.forms {
  padding: 40px;
}

.forms_list {
  position: relative;
  margin-top: 4px;
}

.forms__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #fff;
}

.agreement__text {
  color: $accent-color;
  padding-left: 2px;
}

.agreement {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .agreement__icon {
    background-color: $accent-color;
    border: none;
    fill: $second-color-white;
  }
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 15%;
  align-items: center;
  margin-right: 10px;
  background-color: $second-color-white;
}

.agreement__item {
  display: flex;
  margin-bottom: 30px;
}

.button-item__sumbit {
  width: 200px;
  height: 50px;
  color: $second-color-white;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
