.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  background: $second-color-white;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $second-color-black;
  padding-left: 24px;
}

.portfolio-list__description {
  font-size: 16px;
  line-height: 1.87;
  color: $primary-text-color;
  padding-left: 24px;
}

.portfolio-list__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .box-gallery__overlay,
  &:focus .box-gallery__overlay {
    transform: translateY(0);
  }
}

.box-gallery {
  position: relative;
  overflow: hidden;
}

.box-gallery__overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $accent-color;
}

.box-gallery__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $second-color-white;
}
