.section.team {
  background-color: #f5f4fa;
}
.team-conteiner__work {
  font-size: 16px;
  line-height: 1.18;
  color: $primary-text-color;
  text-align: center;
  margin-bottom: 16px;
}

.team-conteiner {
  display: flex;
}

.team-conteiner__list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $second-color-white;
}

.team-conteiner__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-conteiner__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: $second-color-black;
  text-align: center;
  margin-bottom: 10px;
}
